body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #e7f6ff !important;
	scroll-behavior: smooth;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
html,
body,
* {
	font-family: 'Inter', system-ui;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
.wrapper {
	background-size: cover;
	background: #ffffff;
	box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
		rgba(136, 165, 191, 0.48) -6px -2px 16px 0px;
	border-radius: 20px;
	width: 1300px;
	margin: 50px auto;
	padding: 10px 0 0 0;
	.cursor-react {
		position: absolute;
		width: 25px;
		height: 25px;
		top: 0;
		left: 0;
		z-index: 999;
		border: 1.5px solid black;
		background-color: rgba(0, 0, 0, 0.05);
		-webkit-transition: opacity 0.45s, top 0.25s, left 0.25s;
		transition: opacity 0.45s, top 0.25s, left 0.25s;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		border-radius: 50%;
		user-select: none;
		pointer-events: none;
	}
}

//===============HEADER=============//

header {
	position: sticky;
	width: 1300px;
	background: transparent;
	padding: 40px 32px 10px;
	z-index: 999;
	transition: 0.3s ease-in;
	scroll-behavior: smooth;
	font-weight: 400;
	box-sizing: border-box;
	border-radius: 20px 20px 0 0;
	background: rgba(255, 255, 255, 0.9);
	top: 0;
	img {
		margin-right: 20px;
	}
	.links-logo {
		text-decoration: none;
		color: black;
	}
	h3,
	p {
		margin: 0;
	}
	span {
		color: rgb(102, 102, 102);
	}
}

header.active {
	scroll-behavior: smooth;
	transform: translateY(-10px);
	// padding: 30px 32px 10px;
	transition: .3s ease-in;
	border-radius: 20px 20px 0 0;
	box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px;
	transition: -webkit-transform 0.4s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	&::before {
		filter: blur(1px);
	}
	.logo {
		// width: 80px;
		// height: 80px;
		transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
		transition: transform 0.3s, -webkit-transform 0.3s;
		scroll-behavior: smooth;
	}
}
// ====================END================= //

.content {
	h1 {
		margin: 0;
	}
}
.cartEmpty {
	text-align: center;
	p {
		width: 280px;
		line-height: 24px;
	}
	.greenButton {
		width: 245px;
		margin-top: 20px;
		&:hover {
			img {
				transform: rotate(180deg) translateX(3px);
			}
		}
		img {
			position: relative;
			top: 1px;
			transform: rotate(180deg);
			margin-right: 15px;
			transition: transform 0.15s ease-in-out;
		}
	}
}
.search-block {
	border: 2px solid #eaeaea;
	border-radius: 15px;
	padding: 0 15px;
	position: relative;
	margin-right: 12px;
	.clear {
		position: absolute;
		right: 0;
		width: 18px;
		height: 18px;
		top: 14px;
		right: 15px;
	}
	input {
		border: 0;
		padding: 15px;
		font-size: 16px;
		width: 200px;
	}
}
ul {
	display: block;
	align-items: center;
	li {
		display: flex;
		align-items: center;
		align-items: flex-end;
		margin-bottom: 10px;
		div {
			flex: 1;
			height: 1px;
			border-bottom: 1px dashed #dfdfdf;
			position: relative;
			top: -4px;
			margin: 0 7px;
		}
	}
}
.greenButton {
	position: relative;
	&:disabled {
		animation: button-loading 0.6s ease-in-out infinite;
	}
	&:hover {
		img {
			transform: translateX(5px);
		}
	}
	img {
		position: absolute;
		right: 30px;
		top: 20px;
		transition: transform 0.15s ease-in-out;
	}
}
.greenButton {
	width: 100%;
	height: 55px;
	background: #9dd558;
	border-radius: 18px;
	border: 0;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: background 0.1s ease-in-out;
	&:disabled {
		background-color: #bebebe !important;
		cursor: default;
	}
	&:hover {
		background: lighten(#9dd558, 5%);
	}
	&:active {
		background: darken(#9dd558, 5%);
	}
}
.cartItem {
	border: 1px solid #f3f3f3;
	border-radius: 20px;
	overflow: hidden;
	padding: 20px;
	.cartItemImg {
		height: 70px;
		width: 70px;
		background-size: contain;
		background-position: 0 -3px;
		background-repeat: no-repeat;
		margin-right: 20px;
	}
	p {
		font-size: 16px;
		margin: 0;
	}
	b {
		font-size: 14px;
	}
	.removeBtn {
		opacity: 0.5;
		cursor: pointer;
		transition: opacity 0.15s ease-in-out;
		&:hover {
			opacity: 1;
		}
	}
}
@keyframes button-loading {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}
